.container {
    text-align: center;
}
#uploadImage{
    text-align: center;
}
#img_id {
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
}
#canvas{
    /* margin:auto;
    position: relative; */
    position: relative;
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
}
#display_block {
    margin: auto;
    margin-top: 5px;
    width: 60%;
    border: 3px solid black;
    padding: 5px;
    
}
#display_block p{
    text-align: left;
}
table,th,td{
    border: 1px solid black;
  }
table{
    position:relative;
    margin: auto;
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    margin-bottom: 30px ;
}
.table{
    /* overflow: scroll; */
    /* height: 500px; */
    margin-top: 30px;
}

.tooltip{
    margin:auto;
    /* margin-top:10px; */
    position: relative;
}
.parent_image{
    position: relative;
}
.tooltiptext{
    position: absolute;
}
#des_tooltips{
    position: relative;
    z-index: 1;
}

.dot {
    height: 15px;
    width: 15px;
    color: red;
    border-radius: 100%;
    display: inline-block;
    opacity:1;
    z-index: 1;
  }