.container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  img{
      max-width: 100%;
      max-height: 90vh;
  }
  .circle {
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background: red;
      position: absolute;
   }
  #tooltip{
      position: absolute;
      z-index: 9;
  }
  #tooltip_div{
      background-color: coral;
  }
  #p_id{
      position: absolute;
  }
  #p_id p{
      background-color: rgb(138, 148, 138);
      text-align:center;
      padding-right: 5px;
      padding-left: 5px;
  }
  table,th,td{
      border: 1px solid black;
    }
  table{
      position:relative;
      margin: auto;
      width: 100%;
      padding: 5px;
      border-collapse: collapse;
      margin-bottom: 30px ;
      
  }
  .table{
      margin-top: 30px;
      max-height: 75vh;
      overflow: auto;
  }