.container {
    text-align: center;
}
#uploadImage{
    text-align: center;
}
#img_id {
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
}
#display_block {
    margin: auto;
    margin-top: 5px;
    width: 60%;
    border: 3px solid black;
    padding: 5px;
}

#display_block p{
    text-align: left;
    
}
table,th,td{
    border: 1px solid black;
  }
table{
    margin: auto;
    margin-top: 30px;
    width: 60%;
    padding: 5px;
    border-collapse: collapse;
}

.tooltip{
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext{
    width: 120px;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity;
  }
  
  .tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
  }

  #tooltip_div{
      background-color: cadetblue;
  }
  